@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slider{
  height: 250px;
}
.center .slick-center .sliderwarpper {
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  background: #5660c0;
  color: white;
}
.center .sliderwarpper {
  transition: all 0.1s ease;
}
.center .sliderwarpper {
  color: #636262;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
