@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* overflow: auto; */
}

.center .slick-center .sliderwarpper {
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  background: #5660c0;
  color: white;
}
.center .sliderwarpper {
  transition: all 0.1s ease;
}
.center .sliderwarpper {
  color: #636262;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.map-container {
  height: 100%;
  width: 100%;
}